:root {
    --primary-logo-color :#FED136;
    --primary-link-color: #FED136;
   --primary-title-color: #222222; 
   --primary-text-color : #777777;
   --primary-backgound-color : #FFFFFF;
   --secondary-background-color: #222222;
   --primary-button-background-color : #FED136;
   --primary-button-text-color: #FFFFFF;
   --secondary-title-color :#FFFFFF;
   --primary-placeholder-color :#CCCCCC;
}